.songs-list {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin: 0 auto; /* Center the container itself */
  max-width: 100%; /* Ensure the container doesn’t exceed the viewport width */
  padding: 0 20px; /* Optional: add padding if needed */
}

.songs-list-title {
  text-align: center;
  margin-bottom: 30px;
}

.songs-grid {
  display: flex;
  flex-direction: column; /* Ensure items stack vertically */
  align-items: center; /* Center items in the middle */
  width: 100%; /* Ensure the grid takes the full width of the parent */
  gap: 20px;
}

.song-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  max-width: 500px; /* Set max width */
  height: 190px;
  width: 100%; /* Allow the card to take full width up to max width */
}

/* .song-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
} */

.song-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.4em;
}

.songs-song {
  width: 500px;
}

.song-host,
.song-artist,
.song-votes {
  margin-bottom: 10px;
}

.loading,
.error {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .songs-grid {
    width: 100%; /* Ensure the grid still takes full width */
    padding: 0; /* Adjust padding for smaller screens */
  }
  .songs-song {
    width: 300px;
  }
}